*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5fff5;
    color:#333;
    transition:0.4s;
}

header{
    background:#2e7d32;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?w=1600");
    background-size:cover;
    color:white;
}

.hero h2{
    font-size:45px;
    margin-bottom:20px;
}

button{
    background:#4caf50;
    color:white;
    border:none;
    padding:12px 20px;
    margin:10px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

section{
    padding:60px 10%;
    text-align:center;
}

.cards{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:30px;
}

.card{
    background:white;
    width:280px;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:20px;
}

.dark{
    background:#121212;
    color:white;
}

.dark .card{
    background:#222;
    color:white;
}